p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-title-color);
  background-color: var(--main-background-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo--black {
  color: var(--logo-part-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.logo--white {
  color: var(--three-title-color);
}

.header {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container--mob {
  position: relative;
}

@media screen and (max-width: 767.99px) {
  .header__container--mob {
    width: 100%;
  }
}

@media screen and (max-width: 767.99px) {
  .header__container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container--mob {
    display: none;
  }
}

.header__connect--mob {
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-bottom: 64px;
}

.header .tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.header .mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.header__sms {
  position: relative;
  display: flex;
  flex-direction: row;
}

.header__site {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header__messenger {
  color: var(--accent-color);
}

.header__site:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.header__link {
  color: var(--first-text-color);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__link {
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    font-size: 14px;
    line-height: 1.33;
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header .header__contact + .header__contact {
    margin-left: 50px;
  }
  .header__link {
    color: var(--first-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-color);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  padding: 48px 40px;
  transition: opacity 500ms, visibility 500ms;
}

.navigation .menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navigation .menu-close-btn,
.navigation .menu-open-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.navigation .menu-close-btn:hover, .navigation .menu-close-btn:focus,
.navigation .menu-open-btn:hover,
.navigation .menu-open-btn:focus {
  color: var(--accent-color);
}

.navigation__button .navigation__list {
  display: flex;
  flex-direction: column;
}

.navigation__item--mob:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  color: var(--first-title-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus, .navigation__link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__list {
    margin-left: 88px;
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .header__connect {
    display: flex;
    flex-direction: column;
  }
  .header__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__connect {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .header__contact + .header__contact {
    margin-left: 50px;
  }
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    color: var(--first-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-color);
  }
  .header__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
  }
  .navigation .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__link {
    color: var(--first-title-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:focus, .navigation__link:hover {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
    position: relative;
  }
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
}

.hero {
  background-color: var(--hero-background-color);
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-mob2.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--three-title-color);
  margin-bottom: 30px;
}

.hero__btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  cursor: pointer;
  background-color: var(--background-btn-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--background-btn-hero);
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-tab2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-picture.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/hero-picture2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__icons {
  height: 120px;
  background: var(--three-background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__accent {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

@media screen and (max-width: 479.99px) {
  .features__item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 449.99px) {
  .features__icons {
    width: 100%;
  }
}

@media screen and (min-width: 450px) {
  .features__icons {
    width: 450px;
  }
}

@media screen and (max-width: 767.99px) {
  .features__accent {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
  }
  .features__item {
    width: 354px;
  }
  .features__icons {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .features__list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features__item {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features .features__item + .features__item {
    margin-left: 30px;
  }
  .features__item {
    width: 270px;
  }
  .features__icons {
    width: 270px;
  }
}

@media screen and (max-width: 1199.99px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    margin-bottom: 50px;
  }
  .work__list {
    display: flex;
  }
  .work .work__item + .work__item {
    margin-left: 30px;
  }
  .work__item {
    position: relative;
  }
  .work__text {
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--three-title-color);
  }
}

.team {
  background-color: var(--three-background-color);
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 479.99px) {
  .team__item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

.team__item {
  height: 622px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__information {
  padding: 30px 32px 24px 32px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767.99px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .team__item {
    width: 354px;
    height: 536px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding-top: 93px;
    padding-bottom: 93px;
  }
  .team__list {
    display: flex;
  }
  .team__item {
    width: 270px;
    height: 428px;
  }
  .team .team__item + .team__item {
    margin-left: 30px;
  }
  .team__information {
    padding: 30px 32px;
  }
}

.sms {
  display: flex;
  justify-content: center;
}

.sms .sms__item + .sms__item {
  margin-left: 10px;
}

.sms__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sms__link:hover, .sms__link:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
}

.sms__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.clients__list {
  display: flex;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients__icon {
  fill: currentColor;
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

@media screen and (min-width: 479.99px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (max-width: 1199.99px) {
  .clients__list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients__item {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .clients__list {
    justify-content: center;
  }
  .clients .clients__item + .clients__item {
    margin-left: 30px;
  }
  .clients__link {
    width: 170px;
  }
}

.footer {
  background-color: var(--second-background-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__adress, .footer__contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress:hover, .footer__adress:focus, .footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}

.footer__adress {
  color: var(--three-title-color);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--three-title-color);
  margin-bottom: 20px;
}

.footer__sms {
  display: flex;
  justify-content: center;
}

.footer .footer__site + .footer__site {
  margin-left: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--second-btn-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__icons {
  fill: currentColor;
}

@media screen and (min-width: 479.99px) {
  .footer__email {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.99px) {
  .footer__email {
    width: 450px;
  }
}

.footer__email {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding: 10px 16px;
  cursor: pointer;
}

.footer__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--three-title-color);
  background-color: var(--background-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__icon--send {
  margin-left: 10px;
}

@media screen and (max-width: 1199.99px) {
  .footer .part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .part:not(:last-child) {
    margin-bottom: 60px;
  }
  .footer__item {
    text-align: center;
  }
  .footer__item:not(:last-child) {
    display: block;
    margin-bottom: 8px;
  }
  .footer__email {
    margin-bottom: 20px;
  }
  .footer__btn {
    margin: auto;
  }
}

@media screen and (max-width: 767.99px) {
  .footer__parts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .footer__parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__parts {
    display: flex;
    align-items: baseline;
  }
  .footer .footer--first {
    width: 230px;
  }
  .footer__item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }
  .footer .footer--second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
  }
  .footer .footer--third {
    margin-left: auto;
  }
  .footer__form {
    display: flex;
  }
  .footer__email {
    width: 358px;
  }
  .footer__btn {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__title {
    line-height: 1.15;
  }
  .modal__input {
    width: 448px;
  }
  .modal__text {
    width: 448px;
  }
}

.modal__btn--close {
  position: absolute;
  background-color: var(--main-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn--close:hover, .modal__btn--close:focus {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 12px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (max-width: 1199.99px) {
  .modal__input {
    width: 370px;
  }
}

.modal__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal .modal__input + .modal__icons,
.modal .modal__input + .modal__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__input:hover + .modal__icons,
.modal .modal__input:focus + .modal__icons {
  fill: var(--accent-color);
}

.modal__field {
  position: relative;
  display: block;
}

.modal__field input {
  padding: 4px 34px;
}

.modal__icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__textarea {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.99px) {
  .modal__text {
    width: 370px;
  }
}

.modal__text {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text:hover, .modal__text:focus {
  border-color: var(--accent-color);
}

.modal__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  width: 200px;
  height: 50px;
  background: var(--background-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover, .modal__submit:focus {
  background-color: var(--background-btn-hero);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .check {
    font-size: 14px;
    line-height: 1.71;
  }
  .check__link {
    margin-left: 5px;
  }
}

.check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--fitst-btn-color);
  border-radius: 2px;
  margin-right: 8px;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__input:checked ~ .check__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.check__input:focus-visible ~ .check__icon {
  border-color: var(--accent-color);
}

.check__input:hover ~ .check__icon {
  border: 2px solid var(--accent-color);
}

.check__link {
  color: var(--accent-color);
}

.filters {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .filters__list {
    justify-content: center;
  }
}

.filters__item {
  margin-left: 8px;
}

.filters__btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fitst-btn-color);
  background-color: var(--three-background-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767.99px) {
  .filters__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding-top: 93px;
    padding-bottom: 93px;
  }
  .filters__list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.current__btn {
  color: var(--second-btn-color);
  background-color: var(--background-btn-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio__item {
    background-color: var(--main-background-color);
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__item {
  background-color: var(--main-background-color);
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio .portfolio__item:hover .portfolio__text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:focus .portfolio__text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 479.99px) {
  .portfolio__text {
    overflow-y: scroll;
  }
}

.portfolio__text {
  position: absolute;
  top: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--three-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
}

.portfolio__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

:root {
  --header-text-color: #212121;
  --fitst-btn-color: #212121;
  --second-btn-color: #ffffff;
  --first-title-color: #212121;
  --second-title-color: #2196f3;
  --three-title-color: #ffffff;
  --first-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --three-background-color: #f5f4fa;
  --background-btn-color: #2196f3;
  --background-btn-hero: #188ce8;
  --logo-part-color: #000000;
  --hero-background-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */